@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: unset;
    color: unset;
}


/* app styles */

main {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
}


/* header styles */

.header {
    padding: 30px;
    width: 100vw;
    background: #615ba3;
}

.icon-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.icon {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
}

.add-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background: #ffffff;
    color: #615ba3;
}


/* table styles */

.table-container {
    margin: 0 30px;
}

table {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-collapse: collapse;
}

thead {
    background: #615ba3;
    color: #ffffff;
}

th,
td {
    padding: 10px;
    text-align: center;
}

tr {
    border-bottom: 0.5px solid #f1f1f1;
}

.table-btn {
    padding: 5px 10px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    border: unset;
    border-radius: 5px;
}

.delete-btn {
    color: #eb1d1d;
}

.hidden {
    display: none;
}

.btns-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
}

.send-btn {
    padding: 10px;
    border: unset;
    border-radius: 5px;
    background: #615ba3;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
}


/* form styles */

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    position: relative;
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type=text],
input[type=tel],
input[type=email] {
    width: 300px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 3px inset rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.submit-btn {
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    background: #615ba3;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}